
body {
    
    background-image: url('show.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #000;
    min-height: 100vh;
}